[submodule "Purpur"]
	path = Purpur
	url = https://github.com/pl3xgaming/Purpur.git
	branch = ver/1.16.4
[submodule "fabric-loader"]
	path = fabric-loader
	url = https://github.com/FabricMC/fabric-loader.git
